@use "./start"as *;
@use "./variables"as *;
@use "./nav"as *;

body {
    width: 80%;
    background-color: rgb(238, 215, 158);
}

.container  {
    padding: 3em 0;
    color: black;
    background-color: lightgoldenrodyellow;
}

.newspaper {
    text-align: left;
    text-decoration: none;
}

table {
    display: table;
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
    border-color: $secondary-color;
}

.infobox {
    border: 1px solid $secondary-color;
    border-spacing: 3px;
    background-color: $bgc-hero;
    color: black;
    margin: 0.5em 0 0.5em 1em;
    margin-top: 4.5em;
    padding: 0.2em;
    float: right;
    clear: right;
    font-size: 88%;
    line-height: 1.5em;
    width: 22em;
}